{% extends "layout.html" %}
{% set title="add new site" %}
{% block body %}
<div>{{ link_to("list", "back") }}</div>
<div id="add_new_site_form_container">
    {% call form_tag('addnewsite', method="POST") %}
			<div>domain_name: <input type="text" name="domain_name" id="domain_name" value="" /></div>
			<div>ex) www.yourdomain.com</div>
			<div>
				{% call select_tag("site_type") %}
					{% for site_type in site_types %}
						{{ option(site_type["value"], site_type["text"]) }}
					{% endfor %}
				{% endcall %}
			</div>
            <input type="submit" name="submit" />
    {% endcall %}
</div>
{% endblock %}
{% block nav %}{% endblock %}
