{% extends "layout.html" %}
{% set title="list" %}

{% block body %}

    <div>{{ link_to("addnewsite", "Add new domain") }}</div>
	<div id="sites_container">
	{% for site in sites %}
		<div class="site">
			<img src={{ url_for("static", filename="img/o.gif") }} class="virtual_host_item_header">
			<span class="domain_name">{{ external_link_to("http://" + site.name, site.name, target="_blank") }}</span>
			<span class="site_type">({{ site.site_type }})</span>
			<span class="control_button">
            {% call form_tag('action', method="POST") %}
			    <input type="hidden" name="domain_name" value="{{ site.name }}"/>
    			    <input {{ "disabled" if site.status!="running" }} type="submit" id="button_stop" name="action" value="stop" />
        		  <input {{ "disabled" if site.status=="running" }} type="submit" id="button_start" name="action" value="start" />
        		  <input type="submit" id="button_start" name="action" value="delete" />
            {% endcall %}
			</span>
		</div>
	{% endfor %}
	</div>

{% endblock %}
